<div class="row">
  <div class="col-sm-6 col-sm-offset-3">   
    <h3 class="text-center">What kind of sample are you looking for?</h3>

    <!-- Search query box 
    ==================================== -->
    <div class="input-group">
      <input type="text" class="form-control" placeholder="mail, ios" ng-model="main.query">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" ng-click="main.search()">Search</button>
      </span>
    </div> <!-- /input-group -->

    <!-- Search results 
    ==================================== -->
    <ul class="list-unstyled">
      <li ng-repeat="result in main.results">
        <div class="result">
          <h2><a href="{{result.url}}" target="_blank">{{ result.title }}</a></h2>
          <p><small>{{ result.stars }} stars | {{ result.forks }} forks</small></p>
          <p><em>Language: {{ result.language }}</em></p>
          <p class="lead">{{ result.description }}</p>
        </div>
        
        <!-- Show divider, except for the last result. -->
        <hr ng-show="$index !== main.results.length - 1" />
      </li>
    </ul>
  </div>
</div>
<!-- row -->